 @font-face{
    font-family: 'Roboto',sans-serif;
    src:url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900");
  }

   body {
     font-family: 'Roboto',sans-serif;
        }
         label {
             margin-bottom: .2rem;
             font-size: 14px;
             color: #666;
        }
         .underline {
             text-decoration: underline;
        }
         .yell {
             color: #fede00;
        }
         .logo_MMT {
             padding: 10px 0px;
        }
         .size12 {
             font-size: 12px;
        }
         .destacado {
             color: #194092;
             font-size: 18px;
             line-height: 1;
             font-weight: 900;
             margin-bottom: 15px;
        }

        .claim {
             color: #194092;
             font-size: 15px;
             line-height: 1.2;
             font-weight: 900;
             margin-bottom: 15px;
        }
         .btn-especial {
             width: 100%;
             background-color: #fe2e5f;
             border-color: #fe2e5f;
             padding: 15px 5px;
             font-weight: bold;
             box-shadow: 3px 10px 20px 0px rgba(0,0,0,0.16);
             touch-action: manipulation;
             cursor: pointer;
        }
         .btn-especial:hover {
             background-color: #00b3d7;
             border-color: #00b3d7;
        }
         .jumbotron {
             margin-bottom: 0rem;
             padding: 10px;
             border-radius: 0rem;
        }
         .jumbotron.bottom {
             background-color: #06276f;
             color: #fff;
             height:100px;
             font-size: 17px;
             padding-top: 20px;
        }
         .jumbotron.top {
             background-color: #ffffff;
             color: #06276f;
             font-weight: bold;
             font-size: 27px;
        }
         .detalles {
             color: #ffffff;
             font-weight: bold;
             font-size: 18px;
             position: absolute;
             left: 20px;
             top: 370px;
             text-shadow: 2px 2px #000000;
             width: 315px;
        }
         .image-cover {
             background-size: 2500px 578px;
             background-color:#f32c5f;
             background-image: url('/imgs/mmt/campaign_1/slide-02.jpg');
             background-repeat: no-repeat;
             background-position: center top;
            position: relative;
        }
         .text-top {
             padding: 30px 0px 10px 0px;
             color: #06276f;
             font-size: 25px;
             font-weight: bold;
             line-height: 1.1;
        }
         .modal-body {
             font-size: 12px;
             color: #666;
        }

        .recibido {
             width: 85%;
             padding: 10px 0px;
        }
         @media only screen and (max-width:720px){
             .image-cover {
                 background-image: url('/imgs/mmt/campaign_1/slide-02.jpg');
                 background-repeat:no-repeat;
                 background-position: top center;
                 background-size: 1500px 347px;
            }
        }
         @media (max-width: 576px){
             .image-cover {
                 background-image: url('/imgs/mmt/campaign_1/slide-02_p.jpg');
                 background-size: 1500px 347px;
            }
             .detalles {
                 left: 20px;
                 top: 370px;
                 width: 315px;
            }
             .logo_MMT {
                 padding: 2px 0px;
            }
             .text-top {
                 padding: 5px 0px 10px 0px;
                 font-size: 20px;
            }
        }